/venv
/runs
2.mp4
3.mp4
4.mp4
5.mp4
6.mp4
7.mp4
9.mp4
1.png
yolov8n_video2.avi
yolov8n_video3.avi
yolov8n_video4.avi
yolov8n_video5.avi
yolov8n_video6.avi
yolov8n_video7.avi
yolov8n_video9.avi
fine_tuned_yolov8n_video2.avi
fine_tuned_yolov8n_video3.avi
fine_tuned_yolov8n_video4.avi
fine_tuned_yolov8n_video5.avi
fine_tuned_yolov8n_video6.avi
fine_tuned_yolov8n_video7.avi
fine_tuned_yolov8n_video9.avi